<div class="container">
    <br>
       <br>
       <br>
       <br>
       <br>
    
       <br>
    <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in h1 text-center">Welcome to my Capstone Project</div>
     
        <p class="lead text-muted text-center">This app brings together everything I have learned from TeamTreehouse Full Stack Javascript Techdegree. Made using the MEAN stack(MongoDB, Express.js, AngularJS and Node.js) the app intergrates the Flickr API and the Microsoft Azure Cognitive Services Computer Vision API to deliver a great optical character recognition experience. To get started please register an account or login if you are an existing user. </p>
    </div>
    </div>
  </header>
  

</div>
<app-footer></app-footer>