{% extends "base.html" %}

{% block page_content %}
<h1>Add Category To Forum</h1>
<form action="" method="post" name="form">
    {% csrf_token %}
    <label for="category_name">New Form Category:</label>
    <input id="category_name" type="text" name="category_name" maxlength="100" required>
    <br/>
    <label for="category_description">New Forum Description:</label>
    <input id="category_description" type="text" name="category_description" maxlength="500" required>
    <br/>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}