{% extends "base.html" %}


{% block page_content %}
<bold class="nav-body-content"><a href="/">Fitness Forum</a> > <a href="/category/{{category_id}}">{{category_name}}</a> > <a href="/category/{{category_id}}/thread/{{thread_id}}">{{thread_subject}}</a></bold>
<form action="" method="post" name="form" class="content">
    {% csrf_token %}
    <p><h5>Replying to: </h5>{{reply_post_message}}</p>
    <label for="message">Your Message: </label>
    <br>
    <textarea id="reply-message" name="message" class="textarea"></textarea>
    <br>
    <input type="submit" class="btn btn-primary" value="Post">
</form>


{% endblock %}