{% extends "base.html" %}

{% block page_content %}
<bold class="nav-body-content"><a href="/">Fitness Forum</a> > <a href="/category/{{category_id}}">{{category.name}}</a></bold>

<br>
<p class="content">This category is about: {{category.description}}</p>
<br>


<table class="table table-bordered table-secondary" id="category-table">
<thead>
    <th>Thread Name</th>
    <th>Started By</th>
    <th>Views</th>
    <th>Replies</th>
</thead>
<tbody>
    {% for thread in threads %}
       <tr>
            <td><a href="/category/{{category_id}}/thread/{{thread.thread_id}}">{{thread.subject}}</a></td>
            <td>{{thread.started_by}}</td>
            <td>{{thread.views}}</td>
            <td>{{thread.replies}}</td>
       </tr> 
    {% endfor %}
</tbody>
</table>
{% if user.is_authenticated %}
    <a href="/category/{{category_id}}/addThread" class="btn btn-primary" id="addThreadBtn">Add Thread</a>
{% else %}
    <p class="nav-body-content">You must be logged in to create a new thread</p>
{% endif %}
{% endblock %}
