{% extends "base.html" %}

{% block page_content %}
<div class='profile-info-container'>
    <h1>Profile Section</h1>
    <img src="{{request.user.forumuser.profile_pic.url}}" class="profile-pic-img"/>
    <p>Username: {{request.user.username}}</p>
    <p>Email: {{request.user.email}}</p>
    <p>Name: {{request.user.first_name}} {{request.user.last_name}}</p>
    <p>Rep points: {{request.user.forumuser.rep_points}}</p>
    <p>Gender: {{request.user.forumuser.gender}}</p>
    <p>Member Since: {{request.user.forumuser.member_since}}</p>
</div>
<div class='form-error-container'>
    {% if update_profile_form.errors %}
        <div class="alert alert-danger">
            {% for field in update_profile_form %} 
                {% for error in field.errors %}
                    <strong>{{ field.label }} : {{ error|escape }}</strong><br>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    {% if change_password_form.errors %}
        <div class="alert alert-danger">
            {% for field in change_password_form %}
                {% for error in field.errors %}
                    <strong>{{ field.label }} : {{ error|escape }}</strong><br>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class='open-modal-btn-container'>
    <button id='edit-profile-btn' class='open-modal-btn'>Edit profile</button>
    <button id='change-password-btn' class='open-modal-btn'>Change password</button>
    <button id='post-signature-btn' class='open-modal-btn'>Add/Change Post Signature</button>
</div>

<form action="profile" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Change/upload profile picture:
    {{ profile_pic_form }}
    <input type="submit" value="Upload Image" name="upload_profile_pic">
</form>

<div class="post-signature-modal">
    <form action="profile" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Change/upload your post signature: 
        {{ post_signature_form.media }}
        {{ post_signature_form.as_p }}
        <input type="submit" value="Upload Post Signature" name="upload_post_signature"/>
    </form>
</div>
<div class="update-profile-modal">
    <form action="profile" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {% for field in update_profile_form %}
            <div class="form-group">
                <label class="col-lg-3 control-label">{{ field.label }}:</label>
                <div class="col-lg-8">
                <input class="form-control" type="text" value="{{ field.initial }}" name="{{ field.name }}"/>
                </div>
            </div>
        {% endfor %}
        <div class="form-group" id="update-profile-btn-container">
            <input type="submit" value="Update" name="update_profile" />
        </div>
    </form>
</div>
<div class='change-password-modal'>
    <form action="profile" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {% for field in change_password_form %}
            <div class="form-group">
                <label class="col-lg-3 control-label">{{ field.label }}</label>
                <div class="col-lg-8">
                    <input class="form-control" type="password" value="" name="{{ field.name }}" />
                </div>
            </div>
        {% endfor %}
        <div class="form-group" id="change-password-btn-container">
            <input type="submit" value="Update Password" name="update_password" />
        </div>
    </form>
</div>
<div class="modal-overlay"></div>

<script type='text/javascript'>
$(document).ready(function() {
    changePasswordModalOpen = false 
    updateProfileModalOpen = false 
    postSignatureModalOpen = false 
    const body = document.querySelector("body");
    const modalOverlay = document.querySelector(".modal-overlay")
    $('#edit-profile-btn').on('click', function(e){
        if(updateProfileModalOpen == false){
            openModal(e, "update-profile")
        }else{
            closeModal(e, "update-profile")
        }
    })

    $('#change-password-btn').on('click', function(e){
        if(changePasswordModalOpen == false){
            openModal(e, "change-password")
        }else{
            closeModal(e, "change-password")
        }
    })

    $('#post-signature-btn').on('click', function(e){
        if(postSignatureModalOpen == false){
            openModal(e, "post-signature")
        }else{
            closeModal(e, "post-signature")
        }
    })

    $(document).on('click', function(e){
        const target = event.target;
        if (target == modalOverlay && updateProfileModalOpen) {
            closeModal(e, "update-profile");
        }
        else if(target == modalOverlay && changePasswordModalOpen){
            closeModal(e, "change-password")
        }
        else if(target == modalOverlay && postSignatureModalOpen){
            closeModal(e, "post-signature")
        }
    })

    $("#close-btn").on('click', function(e){
        closeModal(e);
    })

    function openModal(e, modal){
        e.preventDefault();
        e.stopPropagation();
        
        if(modal == "update-profile"){
            // updateProfileModalIsOpen = true 
            $(".update-profile-modal").addClass("open");
            $(".modal-overlay").addClass("open");
            updateProfileModalOpen = true 
        }
        else if(modal == "change-password"){
            // changePasswordModalIsOpen = true 
            $(".change-password-modal").addClass("open");
            $(".modal-overlay").addClass("open");
            changePasswordModalOpen = true 
        } 
        else if(modal == "post-signature"){
            $(".post-signature-modal").addClass("open");
            $(".modal-overlay").addClass("open")
            postSignatureModalOpen = true 
        }
    }

    function closeModal(e, modal){
        e.preventDefault();
        e.stopPropagation();

        if(modal == "update-profile"){
            $(".update-profile-modal").removeClass("open");
            $(".modal-overlay").removeClass("open");
            updateProfileModalOpen = false 
        }
        else if(modal == "change-password"){
            $(".change-password-modal").removeClass("open");
            $(".modal-overlay").removeClass("open");
            changePasswordModalOpen = false 
        }
        else if(modal == "post-signature"){
            $(".post-signature-modal").removeClass("open")
            $(".modal-overlay").removeClass("open")
            postSignatureModalOpen = false 
        }
    }
});
</script>
{% endblock %}

<!--  "{{ model_name.media_gallery.url }}" - to access post signature image -->