{% extends "base.html" %}


{% block page_content %}
{% load static %}
<bold class="nav-body-content" ><a href="/">Fitness Forum</a> > <a href="/category/{{category_id}}">{{category_name}}</a> > <a href="/category/{{category_id}}/thread/{{thread_id}}">{{thread_name}}</a></bold>
<br>
<br>

{% for post in posts %}
<div class="thread-content">
    {% csrf_token %}
    <img class="profilePic" src="{{post.posted_by_id.forumuser.profile_pic.url}}"/>
    <b class="content">{{post.posted_by_id.username}}</b><i>&nbsp; Posted {{post.created_on}}</i>
    {% if post.first_reply_message %}
        {% if post.second_reply_message %}
            <div class="first-reply-content">
            <div class="second-reply-content">
                <span><p>Posted by: {{ post.second_reply_to_id.posted_by_id.username }} on {{ post.second_reply_to_id.created_on }}</p></span>
                    <p><img src="{% static 'img/leftQuote.png' %}" class="reply_left_quote" />{{ post.second_reply_message|safe }}</p>
            </div>
                <span><p>Posted by: {{post.first_reply_to_id.posted_by_id.username}} on {{post.first_reply_to_id.created_on}}</p></span>
                    <p class="content">{{post.first_reply_message|safe}}<br>
            </div>
                <span><p>Posted by: {{ post.posted_by_id.username }} on {{ post.created_on }}</p></span>
                    <p class="content">{{post.message|safe}}<br>
                {% if request.session.logged_in %}
                    <a href="/category/{{category_id}}/thread/{{thread_id}}/reply_post/{{post.post_id}}"><img src="{% static 'img/reload.png' %}" class="reply-icon"/>Reply</a>
                    {% if post.vote %}
                    <a data-post-id="{{ post.post_id }}" data-category-id="{{ category_id }}" data-thread-id="{{ thread_id }}" href="#" role="button" class="up-arrow-vote"><i class="fas fa-arrow-up"></a></i>
                        <i id="{{ post.post_id }}">{{ post.rep_count }}</i>
                    <a href="#" data-post-id="{{ post.post_id }}" data-category-id="{{ category_id }}" data-thread-id="{{ thread_id }}" role="button" class="down-arrow-vote" ><i class="fas fa-arrow-down"></i></a>
                    {% else %}
                        <i id="{{ post.post_id }}" >{{ post.rep_count }}</i> 
                    {% endif %}
                {% endif %}
                </p>
            <p class="content">{{post.created_on}}</p>
            {% if post.signature %}
                <div class="post-signature-container">
                    {{ post.signature.message|safe }}
                </div>
            {% endif %}
        {% else %}
            <div class="reply-content">
                <span><p>Posted by: {{ post.first_reply_to_id.posted_by_id.username }} on {{ post.first_reply_to_id.created_on }}</p></span>
                    <p><img src="{% static 'img/leftQuote.png' %}" class="reply_left_quote" />{{ post.first_reply_message|safe }}</p></div>
                    <p class="content">{{post.message|safe}}<br>
                {% if request.session.logged_in %}
                    <a href="/category/{{category_id}}/thread/{{thread_id}}/reply_post/{{post.post_id}}"><img src="{% static 'img/reload.png' %}" class="reply-icon"/>Reply</a>
                    {% if post.vote %}
                    <a data-post-id="{{ post.post_id }}" data-category-id="{{ category_id }}" data-thread-id="{{ thread_id }}" href="#" role="button" class="up-arrow-vote"><i class="fas fa-arrow-up"></a></i>
                        <i id="{{ post.post_id }}">{{ post.rep_count }}</i>
                    <a href="#" data-post-id="{{ post.post_id }}" data-category-id="{{ category_id }}" data-thread-id="{{ thread_id }}" role="button" class="down-arrow-vote" ><i class="fas fa-arrow-down"></i></a>
                    {% else %}
                        <i id="{{ post.post_id }}">{{ post.rep_count }}</i> 
                    {% endif %}
                {% endif %}
                </p>
            <p class="content">{{post.created_on}}</p>
            {% if post.signature %}
                <div class="post-signature-container">
                    {{ post.signature.message|safe }}
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <p class="content">{{post.message|safe}}<br>
        {% if request.session.logged_in %}
            <a href="/category/{{category_id}}/thread/{{thread_id}}/reply_post/{{post.post_id}}"><img src="{% static 'img/reload.png' %}" class="reply-icon"/>Reply</a>
            {% if post.vote %}
                <a data-post-id="{{ post.post_id }}" data-category-id="{{ category_id }}" data-thread-id="{{ thread_id }}" href="#" role="button" class="up-arrow-vote"><i class="fas fa-arrow-up"></a></i>
                    <i id="{{ post.post_id }}">{{ post.rep_count }}</i>
                <a href="#" data-post-id="{{ post.post_id }}" data-category-id="{{ category_id }}" data-thread-id="{{ thread_id }}" role="button" class="down-arrow-vote" ><i class="fas fa-arrow-down"></i></a>
            {% else %}
                <i id="{{ post.post_id }}">{{ post.rep_count }}</i> 
            {% endif %}
        {% endif %}
        <p class="content">{{post.created_on}}</p>
        {% if post.signature %}
            <div class="post-signature-container">
                {{ post.signature.message|safe }}
            </div>
        {% endif %}
        </p>
    {% endif %}
</div>
{% endfor %}

<br>
{% if user.is_authenticated %}
    <a href="/category/{{category_id}}/thread/{{thread_id}}/add_post" class="btn btn-primary" id="addPostBtn">Add Post</a>
{% else %}
    <p class="nav-body-content">You must be <a href="/login">logged in</a> to post in this thread</p>
{% endif %}


<script>
$(document).ready(function(){
    const handleAlerts = (type, text) => {
        alertBox.innerHTML = `<div class="alert alert-${type} role="alert">
                                ${text}
                              </div>`
    }

    voteUpUrl = "/vote_up/"
    voteDownUrl = "/vote_down/"
    $(".up-arrow-vote").on('click', function(e){
        e.preventDefault()
        postId = e.currentTarget.dataset.postId
        threadId = e.currentTarget.dataset.threadId
        categoryId = e.currentTarget.dataset.categoryId

        callVote(postId, threadId, categoryId, 1)
    });

    $(".down-arrow-vote").on('click', function(e){
        e.preventDefault()
        postId = e.currentTarget.dataset.postId
        threadId = e.currentTarget.dataset.threadId
        categoryId = e.currentTarget.dataset.categoryId

        callVote(postId, threadId, categoryId, -1)
    });

    function callVote(postId, threadId, categoryId, voteValue){
        // voteValue of 1 for upvote, -1 for downvote
        const csrf = document.getElementsByName('csrfmiddlewaretoken')
        var url = '/post_vote'
        const fd = new FormData()
        fd.append('csrfmiddlewaretoken', csrf[0].value)
        fd.append('post_id', postId)
        fd.append('thread_id', threadId)
        fd.append('category_id', categoryId)
        fd.append('vote_value', voteValue)
        $.ajax({
            type: 'POST',
            url: url, 
            enctype: 'multipart/form-data',
            data: fd,
            success: function(response){
                post_rep_count = response.post_rep_count
                repCountText = $("#" + postId)
                repCountText.text(post_rep_count) // updating rep count to new amount
                // hiding up and down arrows after user votes once
                upArrow = repCountText.prev()  
                upArrow.hide()
                downArrow = repCountText.next() 
                downArrow.hide() 

            },
            error: function(error){
                console.log(error)
                handleAlerts('danger', 'oops... something went wrong! Please try again later')
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }


});
</script>

{% endblock %}