<br>
<br>
<br>
<br>
<div class="container">
 <div class="row">
  <div class="col-md-6">
   <h1 class="form-signin-heading">Your Profile</h1>
   <div class="form-horizontal">
    <div class="form-group">
      <p class=" control-label text-left"><strong>Username:  </strong><br>
        {{ details?.username }}</p>
    </div>
    <div class="form-group">
      <p class="control-label text-left"><strong>Full Name:  </strong><br>
        {{ details?.fullName }}</p>
    </div>
    <div class="form-group">
      <p class=" control-label"><strong>Email:  </strong><br>
        {{ details?.emailAddress }}</p>
    </div>
     <div class="form-group">
      <p class=" control-label"><strong>Age:  </strong><br>
          {{ details?.age}}</p>
     </div>
    </div>
   </div> 
 </div>

</div>
<app-footer></app-footer>
