<br>
<br>
<br>
<br>
<div class="container">
 
 <div class="row">
  <div class="col-md-6">
   <h1 class="form-signin-heading">Your Profile</h1>
   <div class="form-horizontal">
    <div class="form-group">
      <p class=" control-label text-left"><strong>Username:  </strong><br>
        {{ details?.username }}</p>
    </div>
    <div class="form-group">
      <p class="control-label text-left"><strong>Full Name:  </strong><br>
        {{ details?.fullName }}</p>
    </div>
    <div class="form-group">
      <p class=" control-label"><strong>Email:  </strong><br>
        {{ details?.emailAddress }}</p>
    </div>
     <div class="form-group">
      <p class=" control-label"><strong>Age:  </strong><br>
          {{ details?.age}}</p>
     </div>
     <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
              <!-- #dp="ngbDatepicker" -->
              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>
    
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Update Profile</button>
    
    <hr>
    
    <pre>{{ closeResult }}</pre>

    </div>
   </div> 
 </div>
</div>

<app-footer></app-footer>
