<br>
<br>
<br>
<br>
<div class="container">
 
 <div class="row">
  <div class="col-md-6">
   <h1 class="form-signin-heading">Your Profile</h1>
   <div class="form-horizontal">
    
    <div class="form-group">
      <p class=" control-label text-left"><strong>Username:  </strong><br>
        {{ user?.username }}</p>
    </div>
    <div class="form-group">
      <p class="control-label text-left"><strong>Full Name:  </strong><br>
        {{ user?.fullName }}</p>
    </div>
    <div class="form-group">
      <p class=" control-label"><strong>Email:  </strong><br>
        {{ user?.emailAddress }}</p>
    </div>
     <div class="form-group">
      <p class=" control-label"><strong>Age:  </strong><br>
          {{ user?.age}}</p>
     </div>
    <button class="btn btn-lg btn-outline-primary" (click)="updateUser(user)">Update Profile</button>
    <button class="btn btn-lg btn-outline-primary" (click)="changePassword(user)">Change Password</button>
    <hr>
    </div>
   </div> 
 </div>
</div>

<app-footer></app-footer>
