<br>
<br>
<br>
<br>
<div class="container search-container">
  <div class="row">
      <form (submit)="sendAndGetImages()">
        <h1><img src="assets/icons/1st_icon.png" class="step-icon"/>Search for images with text in them:</h1>       
        <div class="form-group">
           <label for="tag">Enter image tag:</label>
             <input type="text"
             class="form-control"
             name="tag"
             placeholder="Enter image tag"
             [(ngModel)]="potentialTags.tag">
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
      </form> 
      <p ng-bind-html="demo.body|lineBreak"></p>
      <h1><img src="assets/icons/2nd_icon.png" class="step-icon"/>Then click on any image to show extracted text!</h1>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col ml-5" *ngIf="isLoading"><mat-spinner class="ml-5" layout="row" layout-align="center center"></mat-spinner></div>
                <div class="col"></div>
                 <div class="col"></div>
            </div>
        </div>
    </div>
</div>