<form [formGroup]="changePasswordForm" *ngIf="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="">
    <div class="card-header bg-primary text-white">
      <h3>Update User</h3>
    </div>
    <div class="card-body">
      <div class="form-group row d-flex justify-content-center align-items-center">
          <label for="password" class="col-form-label col-sm-2 text-right">Current Password:</label>
          <div class="col-sm-5">
              <input type="password" class="form-control" name="currentPassword" formControlName="currentPassword"/>
              <div class="text-danger" *ngIf="currentPassword?.invalid && (currentPassword.dirty || currentPassword.touched)">
                <div *ngIf="currentPassword?.errors['required']">Current Password is required</div>
              </div>
   
          </div>
      </div>
      <div class="form-group row d-flex justify-content-center align-items-center">
          <label for="email" class="col-form-label col-sm-2 text-right">New Password:</label>
          <div class="col-sm-5">
              <input type="password" class="form-control" name="newPassword" formControlName="newPassword" />
              <div class="text-danger" *ngIf="newPassword?.invalid && (newPassword.dirty || newPassword.touched)">
                <div *ngIf="newPassword?.errors['required']">Password is required</div>
              </div>
          </div>
      </div>
      <div class="form-group row d-flex justify-content-center align-items-center">
        <label for="fullName" class="col-form-label col-sm-2 text-right">Confirm Password:</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword"  compare="newPassword"/>
            <div class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
              <div *ngIf="confirmPassword.errors['required']">Confirm password is required</div>
              <div *ngIf="confirmPassword.errors['compare']">Passwords do not match</div>
            </div>
            
            <!-- <div class="alert alert-danger" *ngIf="changePasswordForm.controls.confirmPassword?.invalid && (confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.compare">
              Passwords do not match!
            </div> -->
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button [disabled]="!changePasswordForm.valid" class="btn btn-primary mr-2" type="submit">Update</button>
      <button [disabled]="isLoading" class="btn btn-danger mr-2" id="update-user-modal-close" type="button">Cancel</button>
    </div>
  </div>
</form>